@model List<Departman>
@{

}

<table class="table table-bordered">
    <tr>
        <th>Departmans ID</th>
        <th>Departmans</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.DepartmanName</td>
            <td><a asp-controller="Depart" asp-action="DeleteDepartman" asp-route-id="@item.Id" class="btn btn-danger">Delete</a></td>
            <td><a asp-controller="depart" asp-action="DepartmanGetir" asp-route-id="@item.Id" class="btn btn-success">Update</a></td>
            <td><a asp-controller="Depart" asp-action="DetailsStaff" asp-route-id="@item.Id" class="btn btn-secondary">details</a></td>
        </tr>
    }
</table>

<a asp-controller="Depart" asp-action="NewDepartman" class="btn btn-primary">add departman</a>

