@model List<Personel>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>City</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.City</td>
            <td><a asp-controller="Person" asp-action="DeletePerson" asp-route-id="@item.PerId" class="btn btn-danger">Delete</a></td>
            <td><a asp-controller="Person" asp-action="EditPerson" asp-route-id="@item.PerId" class="btn btn-success">Update</a></td>
            <td><a class="btn btn-secondary">Details</a></td>

        </tr>
    }
</table>
<a asp-controller="Person" asp-action="NewPerson" class="btn btn-primary">Add Person</a>